// FONT DEFINITIONS
// main-font; header-font;

$main-font: 'Merriweather', serif;
$style-font: 'Lato', sans-serif;

// COLORS
$main-color: #00737c;
$secundary-color: #650d1d;

$main-background-color: $main-color;
$main-header-background-color: #fafafa;
$main-font-color: #111;